
# 只忽略dbg目录，不忽略dbg文件
Project/*
snippets/*
小程序笔记/*
3.API
6.开放功能


npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.mmap

.DS_Store
